@import './variables';
@import './basic';

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-color: $green-dark-color;
  color: $white-color;

  .app-outlet {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }
}