@import '@/root/theme/variables.scss';

.app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: $primary-color;
    border-bottom: 1px solid $gray-light-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px 6px;

    @media #{$mxl} {
        z-index: 999;
        backdrop-filter: blur(6px);
        background: rgba($black-color, .1);
        min-height: 50px;
    }

    .page-news & {
        backdrop-filter: blur(6px);
        background: rgba($black-color, .1);
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background: var(--main-color);
        // border-radius: 0 0 6px 6px;
        transition: all .5s;
        box-shadow: 0 1px 14px 0 var(--main-color);
    }

    .app-logo {
        img {
            height: 26px;
            margin-top: 12px;
        }
    }

    .hamburger-button {
        display: none;
        position: relative;
        z-index: 99996;
        height: 32px;
        width: 40px;
        cursor: pointer;
        text-align: left;
        appearance: none;
        background: unset;
        border: none;

        @media #{$mxl} {
            display: block;
        }

        span,
        span::before,
        span::after {
            content: '';
            position: absolute;
            width: 40px;
            height: 3px;
            transition: .3s ease-in-out .3s;
            background: $white-color;
            border-radius: 6px;
        }

        span {
            &:before {
                margin-top: -12px;
                transition: .3s ease-in-out;
            }

            &:after {
                margin-top: 12px;
                transition: .3s ease-in-out;
            }
        }

        &.open span {
            background: transparent;
            transition: .5s ease-in-out;
            transform: rotate(-90deg);

            &:before {
                margin-top: 0;
                transform: rotate(-45deg);
                transition-delay: .5s;
            }

            &:after {
                margin-top: 0;
                transform: rotate(45deg);
                transition-delay: .5s;
            }
        }
    }

    .menu-wrapper {
        height: 100%;
        position: relative;
        z-index: 2;

        @media #{$mxl} {
            display: flex;
            flex-direction: column-reverse;
            gap: 60px;
        }

        &.mobile-menu {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 150vw;
            background: $purple-dark-color;
            z-index: 9999;
            padding: 80px 120px;
            transition: all .4s;

            &.isOpen {
                left: 0;
            }

            #marker {
                width: calc(100% - 240px) !important;
                height: 70px;
                border-radius: 6px;

                &:before,
                &:after {
                    display: none;
                }
            }

            .app-navlist {
                height: 100%;

                ul {
                    flex-direction: column;
                    align-items: unset;
                    gap: 0;

                    li {
                        height: auto;

                        a {
                            padding: 25px 20px;
                            opacity: .4;

                            &.active {
                                padding: 25px 20px;

                                &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        #marker {
            position: absolute;
            top: 0;
            height: 50px;
            background: var(--main-color);
            box-shadow: 0 1px 14px -2px var(--main-color);
            transition: all .5s;
            z-index: -1;

            &:before,
            &:after {
                content: '';
                mask: url(/images/subtract.svg) center no-repeat;
                background: var(--main-color);
                position: absolute;
                top: 0;
                height: 100%;
                width: 16px;
                transition: all .5s;
            }

            &:before {
                right: 100%;
            }

            &:after {
                left: 100%;
                transform: scaleX(-1);
            }
        }

        .app-navlist {
            height: 50px;

            @media #{$mxl} {
                width: 100%;
            }

            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 0;
                margin: 0;
                height: 100%;
                position: relative;

                li {
                    height: 100%;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                        color: $white-color;
                        padding: 0 10px;
                        text-decoration: none;
                        opacity: .4;
                        transition: all .3s;
                        height: 100%;
                        font-family: $font-header;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                        position: relative;

                        &.active {
                            padding-bottom: 4px;

                            &:after {
                                content: '';
                                width: 40%;
                                height: 1px;
                                background: $white-color;
                                border-radius: 6px;
                                position: absolute;
                                bottom: 10px;
                                left: 50%;
                                transform: translateX(-50%);
                                margin-left: 10px;
                            }
                        }

                        &.active,
                        &:hover {
                            opacity: 1;
                        }

                        * {
                            pointer-events: none;
                        }

                        svg {
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}