@import '@/root/theme/variables';

.team-details {
    padding: 0 !important;

    &-header {
        position: relative;
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        min-height: 60vh;
        width: 100%;

        @media #{$mxl} {
            padding-bottom: 0;
        }

        @media #{$mmd} {
            padding: 40px 12px 0;
        }

        @media #{$msm} {
            gap: 20px;
        }

        .team-logo {
            position: relative;
            background-color: $white-color;
            padding: 20px;
            border-radius: 20px;

            @media #{$mxl} {
                width: 100px;
                height: 100px;
                padding: 10px;
                border-radius: 10px;
            }

            @media #{$msm} {
                width: 70px;
                height: 70px;
            }
        }

        .team-country {
            display: flex;
            align-items: center;
            gap: 6px;
            text-transform: uppercase;
            font-weight: 600;

            .country-flag {
                width: 20px;
            }

            p {
                margin: 0;
            }
        }

        .team-name {
            position: relative;
            font-size: 4rem;
            font-weight: 900;
            opacity: .4;
            text-transform: uppercase;
            letter-spacing: -1px;
            text-align: center;
            margin: 0;
            overflow-wrap: anywhere;

            @media #{$mxxxl} {
                font-size: 3.5rem;
            }

            @media #{$mxl} {
                font-size: 3rem;
            }

            @media #{$mlg} {
                font-size: 2.5rem;
            }

            @media #{$msm} {
                font-size: 2rem;
            }
        }
    }

    .team-details-sidebar {
        width: 25%;
        min-width: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid $gray-light-color;
        border-left: none;

        div {
            padding: 20px 20px;
            width: 100%;
            text-align: center;

            &:not(:last-of-type) {
                border-bottom: 1px solid $gray-light-color;
            }
        }
    }

    .squad {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
        padding: 20px;

        @media #{$mlg} {
            padding: 12px;
        }

        .team-box {
            width: calc(100% / 4 - 36px / 4);

            @media #{$mlg} {
                width: calc(100% / 3 - 24px / 3);
            }

            @media #{$mmd} {
                width: calc(50% - 6px);
                padding: 20px 15px;
            }

            @media #{$msm} {
                width: 100%;
            }
        }
    }
}