@import '@/root/theme/variables';

.sport-homepage {
    &--image {
        display: block;
        margin: 70px auto 0;
        max-height: 70vh;
        width: 100%;
        max-width: 50%;

        @media #{$mxxxl} {
            max-width: 60%;
        }

        @media #{$msm} {
            max-width: 70%;
        }
    }

    &--text {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        margin-top: 40px;

        @media #{$msm} {
            font-size: 24px;
        }

        @media #{$mxs} {
            font-size: 20px;
        }
    }
}