@import '@/root/theme/variables';

.fixture-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 40px;
    background: $gray-medium-color;

    @media #{$mlg} {
        padding: 15px 20px;
        flex-wrap: wrap;
    }

    @media #{$msm} {
        padding: 12px 10px;
    }

    &:hover {
        background: lighten($gray-medium-color, 10);
    }

    &.clickable {
        cursor: pointer;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid $gray-light-color;
    }

    &:last-of-type {
        border-radius: 0 0 6px 6px;
    }

    .match-date {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2px;
        width: 150px;

        @media #{$mlg} {
            width: 100%;
            align-items: center;
        }

        .live-match {
            color: var(--main-color);
        }

        b {
            letter-spacing: .5px;
            text-transform: uppercase;
        }

        p {
            margin: 0;
            font-size: 10px;
            font-weight: 600;
            color: $gray-light-color;
        }
    }

    .team {
        display: flex;
        align-items: center;
        font-size: 17px;
        width: calc(50% - 51px);
        gap: 10px;

        @media #{$mlg} {
            font-size: 16px;
            flex-direction: column;
            text-align: center;
            padding: 0 !important;
        }

        @media #{$msm} {
            font-size: 14px;
        }

        @media #{$mxs} {
            font-size: 12px;
        }

        &:first-of-type {
            padding-right: 40px;
        }

        &:last-of-type {
            padding-left: 40px;
            justify-content: flex-end;
            text-align: right;

            @media #{$mlg} {
                flex-direction: column-reverse;
                text-align: center;
            }
        }

        img {
            width: 25px;
            height: 25px;
            object-fit: contain;
            font-size: 10px;
        }
    }

    .score {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        width: 82px;
        font-family: $font-header;

        div {
            min-width: 26px;
            font-size: 18px;
            padding: 4px 6px;
            border-radius: 6px;
            background: $primary-color;
            text-align: center;
            font-weight: 600;
        }
    }
}